In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Data/gender_classification_v7.csv")
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [5]:
# No Duplicates and all are numeric values so, Proceeding with model building

In [11]:
data[data['gender'] == 'Male'] = 1 
data[data['gender'] == 'Female'] = 0

In [24]:
# Feature and Result Splitting
x = data.drop('gender', axis=1)
y = data['gender']

In [25]:
# Train & Test data split and Model Bulding
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=10)
lr_clf = LinearRegression()
lr_clf.fit(x_train, y_train)
lr_clf.score(x_test, y_test)

1.0

In [27]:
# Cross Validation
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), x, y, cv=cv)

array([1., 1., 1., 1., 1.])

In [33]:
# Creating funciton with Models
def gender_predict(hair, fheadw, fheadh, nw, nh, lt, dis):
    idata = np.zeros(len(x.columns))
    idata[0] = hair
    idata[1] = fheadw
    idata[2] = fheadh
    idata[3] = nw
    idata[4] = nh
    idata[5] = lt
    idata[6] = dis
    return lr_clf.predict([idata])[0]

In [34]:
gender_predict(1,1,1,1,1,1,0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

0.8571428571428583

In [36]:
# Extrcting the model
import pickle
with open('gender_prediction_model.pickle', 'wb') as f:
    pickle.dump(lr_clf, f)